<p><%= @restaurant.name %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>

<%= link_to 'create a review', new_restaurant_review_path(@restaurant) %>
<%= link_to 'back to restaurants', restaurants_path %>
